In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
char_df = pd.read_csv('data/dd_bios.csv', encoding='ISO-8859-1')

char_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2429 entries, 0 to 2428
Data columns (total 5 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Timestamp                                       2429 non-null   object
 1   Character's name                                2429 non-null   object
 2   Character's race (human, elf, dwarf, etc)       2429 non-null   object
 3   Character's class (rogue, wizard, cleric, etc)  2429 non-null   object
 4   Character's backstory                           2322 non-null   object
dtypes: object(5)
memory usage: 95.0+ KB

In [9]:
char_df = char_df.drop(columns=['Timestamp'])

KeyError: "['Timestamp'] not found in axis"

In [8]:
char_df.head()

,Character's name,"Character's race (human, elf, dwarf, etc)","Character's class (rogue, wizard, cleric, etc)",Character's backstory
0,Erryt,Aarakocra,Ranger,"Erryt, a 7 year-old Aarakocra with golden plum..."
1,Katyusha,Aarakocra,Cleric,Real name !k_usa\r\rLives in fantasy Soviet U...
2,Surkiikri,Aarakocra,Monk,Surkiikri was firstborn of the ruling family o...
3,Azriel,Aasamar,Paladin,He was raised the isles in a family of nobles ...
4,Mei Qiao,Aasimar,Paladin,NaN

In [10]:
char_df = char_df.dropna()

In [12]:
char_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2322 entries, 0 to 2428
Data columns (total 4 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Character's name                                2322 non-null   object
 1   Character's race (human, elf, dwarf, etc)       2322 non-null   object
 2   Character's class (rogue, wizard, cleric, etc)  2322 non-null   object
 3   Character's backstory                           2322 non-null   object
dtypes: object(4)
memory usage: 90.7+ KB